

h1{
    color:blue;
    margin-left:100px;
    margin-top:30px;
}


#lab{
    width:500px;
    float:left;
    background-color:green;
    margin-left:100px;
    border:double;
    border-color:black;
    margin-top:40px;
}

aside{
    margin-top:40px;
    width:250px;
    float:left;
    background-color:yellow;
    margin-left:100px;
    border:double;
    border-color:black;

}

a :hover{
  background-color:red;  
}